@media(max-width:500px){
    #big-circle{
        width: 12%;
        height: 12vw;
        transform: translate(-50%, -50%) scale(16.9);
    }
    #page01>nav{
        font-size: 2.5vw;
    }
    #frontend{
        top:40%;
        left: 7%;
    }
    #developer{
        top: 50%;
        left: 7%;
    }
    #about-me{
        width: 50%;
        height: 25vh;
    }
    #about-me>h1{
        font-size: 2.6vw;
        margin-top: 2.5vw;
    }
    #about-me>p{
        /* font-size: 2.5vw; */
        font-size: 2.2vw;
    }
    #about-me > h2{
        font-size: 2.2vw;
    }
    #circle{
        width: 50vw;
        height: 50vw;
    }
    #circle-btm img:nth-child(1){
        left: 50%;
    }
    #circle-btm img:nth-child(2){
        left: 50%;
    }
    #circle-btm img:nth-child(3){
        left: 50%;
    }
    #small-circle{
        width: 30vw;
        height: 30vw;
        top: 50%;
    }
    #aboutme{
        top: 49%;
    }
    #projects{
        top: 49%;
    }
    #app1{
        bottom: 43%;
    }
    #projectsCard {
        left: 20%;
    }
    #cards1,#cards2{
        display: block;
    }
    .card{
        transform: none;
        width: 80%;
        height: 30vh;
        margin: 3.5vw 2vw 3.5vw 2vw;
    }
    .card:hover{
        transform: scale(1.1);
    }
    .card h3{
        padding: 2vw 2vw;
        font-size: 3vw;
    }
    #gradient{
        height: 170px;
    }
}